.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
}

nav a {
    text-decoration: none;
    margin-left: 20px;
    color: #757575;
}

.btn {
    color: white;
    background-color: #7E90FE;
    padding: 19px 28px;
    gap: 10px;
    border-radius: 8px;
}

.btn:hover {
    background-color: blueviolet;
}

@media only screen and (max-width: 576px) {
    nav {
        display: flex;
        flex-direction: column;
    }

    .header-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}